{% load static %}
{% load i18n %}


<!-- Navbar-->
<header class="navbar navbar-expand-lg navbar-dark fixed-top" data-scroll-header>
  <div class="container">
    <a class="navbar-brand me-3 me-xl-4" href="{% url 'home' %}"><img class="d-block" src="{% static 'img/logo/TechLoad Logo.png' %}" width="150" alt="TechLoad"/></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="btn btn-link btn-light btn-sm d-none d-lg-block order-lg-3" href="{% url 'sign_in' %}">
      <i class="fi-user me-2"></i>Sign in
    </a>
    <a class="btn btn-primary btn-sm ms-2 order-lg-3" href="car-finder-sell-car.html">
      <i class="fi-plus me-2"></i>Add Tech
    </a>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <!-- Menu items-->
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
        
        <!-- Home-->
        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <!-- Softwares -->

        <!-- Sections -->

        <!-- Packages -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">Packages</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"><i class="fi-user-check fs-base me-2"></i>Customer Packages</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-education fs-base me-2"></i>Student Packages</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-briefcase fs-base me-2"></i>Startup Packages</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-apartment fs-base me-2"></i>Enterprise Packages</a></li>
          </ul>
        </li>
        <!-- Updates -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Updates</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"><i class="fi-file fs-base me-2"></i>Blogs</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-video fs-base me-2"></i>Vlogs</a></li>
          </ul>
        </li>
        <!-- Contacts -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contacts</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"><i class="fi-microphone fs-base me-2"></i>About us</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-phone fs-base me-2"></i>Contact us</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Help Center</a></li>
          </ul>
        </li>

        <!-- Accounts -->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Accounts</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"><i class="fi-microphone fs-base me-2"></i>Profile Info</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-phone fs-base me-2"></i>Profile Dashboard</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Profile Reviews</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Profile Notifications</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Profile Offers</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Profile Extended Offers</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fi-help fs-base me-2"></i>Profile Security</a></li>
          </ul>
        </li>
        <li class="nav-item d-lg-none"><a class="nav-link" href="sign_in"><i class="fi-user me-2"></i>Sign in</a></li>
      </ul>
    </div>
  </div>
</header>