{% extends 'base.html' %} 
{% load static %} 
{% load i18n %}
{% block content %}
<!-- Page content-->

<!-- Login form -->
<div class="container py-4 py-lg-5 my-4">
  <div class="d-flex justify-content-center">
    <div class="col-md-11 col-sm-10">
      <div class="row mt-5 mb-5 align-items-center">
          
        <!-- Login form left side -->
        <div class="col-md-5 border-end-md border-light p-4 p-sm-5">
          <h1 class="text-light mb-4 mb-sm-5" style="color: #003046">Hey there!<br />Welcome back.</h1>
          <img
          class="d-block mx-auto"
          src="{% static 'img/signin-modal/signin.svg' %}"
          width="275"
          alt="Illustartion"
          />
          <div class="text-light opacity-80 mt-4 mt-sm-5">
          Don't have an account?
          <a href="{% url 'sign_up' %}">Sign up here</a>
          </div>
        </div>

        <!-- Login form right side -->
        <div class="col-md-7 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">

          <!-- Social Media Login -->
          <a class="btn btn-outline-danger w-100 mb-3" href="#">
            <i class="fi-google fs-lg me-1"></i>Sign in with Google
          </a>
          <a class="btn btn-outline-info w-100 mb-3" href="#">
            <i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook
          </a>
          <div class="d-flex align-items-center py-3 mb-3">
            <hr class="text-secondary opacity-10 w-100" />
            <div class="text-light opacity-80 px-3">Or</div>
            <hr class="text-secondary opacity-10 w-100" />
          </div>

          <!-- TechLoad Message Alerts -->
          {% include 'partials/messages/alerts.html' %}
          <!-- TechLoad Website Login -->
          <form action="{% url 'sign_in' %}" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-4">
              <label class="form-label text-light mb-2" for="signin-email">{% trans "Email address" %}</label>
              <input class="form-control form-control-light" id="signin-email" type="email" name="email" placeholder="Enter your email" required/>
              <div class="invalid-feedback">{% trans "Please enter email!" %}</div>
            </div>
            <div class="mb-4">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <label class="form-label text-light mb-0" for="signin-password">{% trans "Password" %}</label>
                <a class="fs-sm" href="#">{% trans "Forgot password?" %}</a>
              </div>
              <div class="password-toggle">
                <input class="form-control form-control-light" id="signin-password" type="password" name="password" placeholder="Enter password" required/>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox" />
                  <span class="password-toggle-indicator"></span>
                </label>
                <div class="invalid-feedback">{% trans "Please enter your password!" %}</div>
              </div>
            </div>
            <button class="btn btn-primary btn-lg w-100" type="submit">{% trans "Sign in" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}